.row {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 42px;
}

label {
    font-weight: bold;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

span {
    color: red
}

.check-ok {
    color: green
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.confirm-loan {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.card-header {
    font-weight: bold;
}

.confirm-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    margin-top: 180px;
}

small {
    font-size: 12px;
    font-style: italic;
}